<!doctype html>
<html>

<head>
	<title>Find My Issue</title>
</head>

<body>

	<div style="margin-left:10%;padding:1px 16px;height:1000px;">
		<br>
		<br>
		<form action="/insert" method="POST">
			<table id="formtable" class="formtable">
				<th colspan="2"></th>
				<tr>
					<td>Issue Title</td>
					<td>
						<input type="text" placeholder="Enter Title of Issue" name="IssueTitle"
							id="IssueTitle" style="height:30px;width:400px;" required></input>

					</td>
				</tr>
				<tr>
					<td>Issue Description</td>
                    <td>
						<textarea type="text" placeholder="Enter Title of Issue" name="IssueDescription"
							id="IssueDescription" style="height:200px;width:400px;" required></textarea>

					</td>

				</tr>
				<tr>
					<td colspan="2">
						<center><button type="submit" name="submitButton" id="submitButton">Add Issue</button> </center>
					</td>
				<tr>
			</table>
		</form>
	</div>

</body>

</html>